@import url("../fonts/nunito_sans/nunito_sans.css");
@import url("../fonts/alisandra/alisandra.css");
@import url("../fonts/inheritance/inheritance.css");
@import url("../fonts/roboto/roboto.css");


body{
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", Arial, sans-serif;
    background: radial-gradient(circle at 50% 10%, #e6dfd9, #e4ddd7, #ddd6d0, #d4ccc7, #c8bfbb, #bbb2af, #aea4a2, #a19796, #958b8b, #8c8283, #857c7d, #837a7b);
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

/* Header Area Css */
#header {
    margin-top: -890px;
}

#header .header-section {

}

#header .header-section .navbar {
    margin: 0px 68px;
    font-size: 16px;
    font-weight: 600;
}

#header .header-section .navbar #navbarNav ul li {
    padding: 5px 20px;
}

#header .header-section .navbar #navbarNav ul li a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    color: #87b19e;
    color: #fff;
    /* background: linear-gradient(to right, #ff00c8, #005fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#header .header-section .navbar #navbarNav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #18c761;
    background: linear-gradient(90deg, rgba(59,62,217,1) 0%, rgba(173,45,180,1) 75%, rgba(201,41,171,1) 96%, rgba(232,36,160,1) 100%);
    /* background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%); */
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#header .header-section .navbar #navbarNav ul li a.active::before {
    /* color: #729581 ; */
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#header .header-section .navbar #navbarNav ul li a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
} 

/* Background Image Css */
#background-image {

}

#background-image img {
    width: 100%;
    min-height: 800px;
    height: auto;
}


/* Box Shadow Section Css */
#box-shadow-section-wrapper {
    margin-top: 150px;
}

#box-shadow-section-wrapper .box-shadow-section {
    margin: 0px 68px;
    height: auto;
    box-shadow: rgb(43 42 48) 0px 0px 10px 8px;
    background: linear-gradient(180deg, rgba(43,42,48,0) 25%, rgba(43,42,48,1) 47%);
}


/* About Section Css */
#box-shadow-section-wrapper .box-shadow-section #about-section {
    /* position: relative; */
    /* overflow: hidden; */
    min-height: 550px;
    /* max-height: 550px; */
    margin-top: 0px;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-logo {
    margin-top: -90px;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-logo h1 {
    font-family: 'Alisandra',Arial, sans-serif;
    font-family: 'Inheritance',Arial, sans-serif;
    font-size: 45px;
    color: #fff;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content {
    background: transparent;
    color: #fff;
    /* margin-left: auto; */
    padding: 80px 60px;
    width: 60%;
}

/* #about-section > .about-content > .about-heading */
#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading {
    min-height: 170px;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading-description {
    text-align: center;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading h1 {
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}

/* #about-section > .about-content > .about-description */
#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading-description span {
    font-family: 'Alisandra',Arial, sans-serif;
    font-size: 22px;
    min-height: 35px;
    display: block;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-description {
    text-align: justify;
    padding: 30px 0;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-description p {
    font-size: 18px;
}


#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading_social_icons a {
    color: #ffffff9c;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

    #box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-heading_social_icons a:hover {
    background: -webkit-linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    background: -moz-linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    background: -o-linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    background: linear-gradient(90deg,#1345e6 0%,#ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* about-section > .about-content > .about-btn */
#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-btn a {
    display: inline-block;
    color: #fff;
    padding: 15px 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0px;
    background: linear-gradient(to right, rgb(19, 69, 230) 0%, rgb(237, 35, 159) 51%, rgb(19, 69, 230) 100%) 0% 0% / 200%;
}

#box-shadow-section-wrapper .box-shadow-section #about-section .about-content .about-btn a:hover {
    background-position: right center;
}

.section-title {
    font-family: 'Roboto', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* Banner Slider Section > Owl Carousel Css */
#box-shadow-section-wrapper .box-shadow-section #banner-slider-section .banner-owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
}

#box-shadow-section-wrapper .box-shadow-section #banner-slider-section .banner-owl-carousel .banner-owl-item img {
    max-height: 70px;
    object-fit: scale-down;
    cursor: pointer;
}

#box-shadow-section-wrapper .box-shadow-section #banner-slider-section .banner-owl-carousel .banner-owl-item img:active {
    cursor: unset;
}

#box-shadow-section-wrapper .box-shadow-section #banner-slider-section .banner-owl-carousel .owl-nav.disabled ,
#box-shadow-section-wrapper .box-shadow-section #banner-slider-section .banner-owl-carousel .owl-dots.disabled {
    display: none;
}

